* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background: #f9faff75;
    font-family: monospace;
}

.app {
    height: 100%;

    &__books-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

